n8n/workflows/PedeAi.json
{
  "name": "Pede Ai",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const products = items.map(item => item.json);\n\nconst chatId = $('Compose Context').first().json.chatId;\nconst categoryName = $('Order Menu Switch').first().json.name;\n\nlet menu = `📕 Cardápio de ${categoryName}\\n\\n`;\n\nlet counter = 1;\n\nlet optionsMap = {};\n\nfor (const product of products) {\n\n  if (!product.active) continue;\n\n  menu += `[ ${counter} ] - ${product.name} (R$ ${product.price})\\n`;\n\n  optionsMap[counter] = {\n    type: \"select_product\",\n    productId: product.id,\n    name: product.name,\n    price: product.price\n  };\n\n  counter++;\n}\n\nmenu += `[ ${counter} ] - Voltar\\n`;\n\noptionsMap[counter] = {\n  type: \"back_to_order_menu\"\n};\n\nmenu += \"\\nDigite o número da opção desejada.\";\n\nreturn [{\n  json: {\n    chatId,\n    menu,\n    optionsMap\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        1632
      ],
      "id": "0897ceb6-e207-421b-b6c4-d73887d885e3",
      "name": "Render Products Menu"
    },
    {
      "parameters": {
        "url": "http://backend:3000/categories",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        1152
      ],
      "id": "6c5901ab-9ae6-4e85-a857-e10010416258",
      "name": "Get Categories"
    },
    {
      "parameters": {
        "chatId": "={{ $json.user.chatId }}",
        "text": "Por favor, digite um dos números disponíveis no menu.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        800
      ],
      "id": "6afab21e-69ac-4c5b-bb6d-34abd733f474",
      "name": "Erro",
      "webhookId": "13325990-e870-47ae-9f7a-feb3d9575fd6",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Compose Context').item.json.user.chatId }}",
        "text": "💬 Nosso agente está pronto para responder sua dúvida 😊\n\nPode enviar sua mensagem!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        656
      ],
      "id": "dc375006-8d19-49c5-8b79-3f4091771ced",
      "name": "falar_atendente",
      "webhookId": "e1032131-27b0-42aa-8b2f-48df3b26db43",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Compose Context').item.json.user.chatId }}",
        "text": "📦 Digite o número do seu pedido para consulta-lo",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        464
      ],
      "id": "9c02aaff-170b-4036-ad49-cc911a93e020",
      "name": "acompanhar_pedido",
      "webhookId": "e1032131-27b0-42aa-8b2f-48df3b26db43",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d5a42562-40b2-4489-95e9-00fa6feed71c",
                    "leftValue": "={{ $json.input.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "acompanhar_pedido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0ec01d7c-e5b7-4aa5-b81b-8365583a8d70",
                    "leftValue": "={{ $json.input.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "falar_atendente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.input.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "90701c65-e46d-4520-806d-14cab578f4d7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pedido"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -288,
        688
      ],
      "id": "9526f68b-ac2a-49d4-a43c-2eef86ae8362",
      "name": "Main Menu Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Compose Context').item.json.user.chatId }}",
        "text": "👋 Olá! Como podemos te ajudar?\n\n[ 1 ] - Fazer um novo pedido  \n[ 2 ] - Acompanhar meu pedido  \n[ 3 ] - Tirar dúvidas com nosso agente virtual\n\nResponda com o número da opção.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        960
      ],
      "id": "1dad3bd8-fca3-4479-a36e-4bbb3a452c1f",
      "name": "main_menu",
      "webhookId": "e1032131-27b0-42aa-8b2f-48df3b26db43",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1db1a41c-2a42-4b2d-b7a0-2c3bcd53331e",
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bad975f9-ad19-4b98-86d6-c6074296898b",
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "get_order",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_order"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "091525a0-0f8b-4e84-ae5e-43a15e3a1dbe",
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "awaiting_main_menu_option",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "awaiting_main_menu_option"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "74fdafbd-e3cd-46cd-b2fe-b73412158aad",
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "order_menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "order_menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "main_menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "afa53c6d-f8de-4e5e-bc5a-12a112b3a3f7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "main_menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e4f6ac59-a6a0-44ad-a6d5-af2774ca5653",
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "awaiting_order_menu_option",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "awaiting_order_menu_option"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "de37b5d4-de8a-4325-90d2-ac8165e6bf60",
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "awaiting_product_menu_option",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "awaiting_product_menu_option"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e4c7c40d-cfa4-405b-a381-01fb498238ec",
                    "leftValue": "={{ $json.user.state }}",
                    "rightValue": "checkout",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "checkout"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1184,
        1472
      ],
      "id": "0c85359c-095c-4ade-bc1a-fb1045be2de2",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ensure_user AS (\n  INSERT INTO users (telegram_chat_id)\n  VALUES ($1)\n  ON CONFLICT (telegram_chat_id) DO NOTHING\n),\ninserted AS (\n  INSERT INTO user_sessions (chat_id, state)\n  VALUES ($1, 'main_menu')\n  ON CONFLICT (chat_id) DO NOTHING\n  RETURNING chat_id, state, data\n)\nSELECT chat_id, state, data FROM inserted\nUNION ALL\nSELECT chat_id, state, data\nFROM user_sessions\nWHERE chat_id = $1\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{$json.chatId}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1632,
        1536
      ],
      "id": "9819d301-8a6e-4c9b-bacc-e6060b08d973",
      "name": "Search Session",
      "credentials": {
        "postgres": {
          "id": "WvUoNCudNHCmuNGD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    chatId: String($json.chat_id),\n    user: {\n      chatId: $json.chat_id,\n      state: $json.state,\n      data: $json.data || {}\n    },\n    input: {\n      text: $node[\"Extract Input\"].json.text\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        1536
      ],
      "id": "bc43f9cc-f6df-4649-b2c9-d2d6add06591",
      "name": "Compose Context"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    chatId: $json.message.chat.id.toString(),\n    text: ($json.message.text || \"\").trim()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        1536
      ],
      "id": "19e46798-e046-40c8-acf2-95d0a24504ef",
      "name": "Extract Input"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2080,
        1536
      ],
      "id": "965fd003-7288-4f56-9611-fb5d1a0edfe0",
      "name": "Telegram Trigger",
      "webhookId": "e76d2656-c2f5-4d2d-bf50-251a9aeb2d3b",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const categories = items.map(item => item.json);\nconst chatId = $json.chatId;\n\nlet menu = \"🛒 Seu Pedido\\n\\n\";\nmenu += \"O que você gostaria de fazer agora?\\n\\n\";\n\nlet counter = 1;\nlet optionsMap = {};\n\nfor (const category of categories) {\n  menu += `[ ${counter} ] - Adicionar ${category.name}\\n`;\n\n  optionsMap[counter] = {\n    type: \"select_category\",\n    categoryId: category.id,\n    name: category.name\n  };\n\n  counter++;\n}\n\nmenu += `[ ${counter} ] - Voltar ao menu principal\\n`;\noptionsMap[counter] = { type: \"menu\" };\ncounter++;\n\nmenu += `[ ${counter} ] - Finalizar Pedido\\n`;\noptionsMap[counter] = { type: \"checkout\" };\n\nmenu += \"\\nDigite o número da opção desejada.\";\n\nreturn [{\n  json: {\n    chatId,\n    menu,\n    optionsMap\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        1152
      ],
      "id": "9ddb36d3-8177-446e-95c5-f6305d8992ca",
      "name": "Render Order Menu"
    },
    {
      "parameters": {
        "chatId": "={{ $('Compose Context').item.json.user.chatId }}",
        "text": "={{ $('Render Order Menu').item.json.menu }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1504,
        1152
      ],
      "id": "dbcd27a5-8ceb-4d69-8159-d1a9b76571bd",
      "name": "Order Menu",
      "webhookId": "5d6deb93-6fc8-408b-a32c-02072c4f0fd7",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions\nSET \n  state = 'awaiting_order_menu_option',\n  data = jsonb_set(\n    COALESCE(data, '{}'::jsonb),\n    '{optionsMap}',\n    $2::jsonb,\n    true\n  )\nWHERE chat_id = $1;",
        "options": {
          "queryReplacement": "={{ $('Compose Context').item.json.user.chatId + ''  }}, {{ $json.optionsMap }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        1152
      ],
      "id": "c1d26670-dafe-4977-98ac-9ba56314aa3d",
      "name": "Save Options Map",
      "credentials": {
        "postgres": {
          "id": "WvUoNCudNHCmuNGD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $json.chatId;\nconst text = $json.input.text;\n\nconst number = Number(text);\nconst optionsMap = $json.user.data?.optionsMap;\n\nif (!optionsMap) {\n  return [{\n    json: {\n      chatId,\n      error: \"no_options_map\"\n    }\n  }];\n}\n\nconst option = optionsMap[number];\n\nif (!option) {\n  return [{\n    json: {\n      chatId,\n      type: \"invalid\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    chatId,\n    type: option.type,\n    categoryId: option.categoryId,\n    name: option.name\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        1536
      ],
      "id": "7585a549-3a51-4652-9bac-5c72a3df747b",
      "name": "Resolve Order Menu Option"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d2c1c22c-344c-4528-8d56-0b9273812aae",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "invalid",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invalid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2f3b2a79-611e-4fd0-a2cd-8b462b65f7f9",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "select_category",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0d1da128-48eb-482b-90b5-2ad9cfc7bcaf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "select_category"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1ebf498e-c50a-499f-93c6-92189290cb18",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "checkout",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "checkout"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -528,
        1504
      ],
      "id": "b4930e45-6ac7-4f67-86fd-587e5b9087ba",
      "name": "Order Menu Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Compose Context').item.json.chatId }}",
        "text": "🔙 Você voltou ao menu principal.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        1456
      ],
      "id": "07e334b2-175f-4a4a-a481-efe8bf1096fe",
      "name": "menu",
      "webhookId": "dc5d1936-2548-4f2c-a46d-b7f45a767694",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://backend:3000/categories/{{ $json.categoryId }}/products",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -288,
        1632
      ],
      "id": "ed9862e7-baa1-4364-9419-787554f30eab",
      "name": "Get Products by Category"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions\nSET data = data - 'optionsMap' - 'orderId'\nWHERE chat_id = $1;",
        "options": {
          "queryReplacement": "={{ $('Compose Context').item.json.chatId  + ''}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        1440
      ],
      "id": "e46043a8-5853-4a23-a43f-21b9773316d0",
      "name": "Erase data",
      "credentials": {
        "postgres": {
          "id": "WvUoNCudNHCmuNGD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Render Products Menu').item.json.chatId }}",
        "text": "={{ $('Render Products Menu').item.json.menu }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        1648
      ],
      "id": "2f2f2c23-63c8-4231-98ef-d129b05884d2",
      "name": "Products Menu",
      "webhookId": "13d269fa-c2d3-4a14-a103-07ce0ab657d3",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions\nSET \n  state = 'awaiting_product_menu_option',\n  data = jsonb_set(\n    COALESCE(data, '{}'::jsonb),\n    '{optionsMap}',\n    $2::jsonb,\n    true\n  )\nWHERE chat_id = $1;",
        "options": {
          "queryReplacement": "={{ $('Compose Context').item.json.user.chatId + ''  }}, {{ $json.optionsMap }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        1632
      ],
      "id": "a8bd4da4-7ecf-4dd6-bd05-7f742a70e3d6",
      "name": "Save Products Map",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "WvUoNCudNHCmuNGD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions \nSET state = 'awaiting_order_menu_option'\nWHERE chat_id = $1;",
        "options": {
          "queryReplacement": "={{ $('Compose Context').item.json.chatId  + ''}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        992
      ],
      "id": "796a666b-5397-4b27-ac71-f1c107822576",
      "name": "Update State awaiting_order_menu_option",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "WvUoNCudNHCmuNGD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions \nSET state = 'awaiting_main_menu_option'\nWHERE chat_id = $1;\n",
        "options": {
          "queryReplacement": "={{ $('Compose Context').item.json.chatId  + ''}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        960
      ],
      "id": "e2c8f75d-cca6-4aa0-a3bc-6a6997bd4588",
      "name": "Update State awaiting_main_menu_option",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "WvUoNCudNHCmuNGD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $json.chatId;\nconst text = $json.input.text;\n\nconst number = Number(text);\nconst optionsMap = $json.user.data?.optionsMap;\n\nif (!optionsMap) {\n  return [{\n    json: {\n      chatId,\n      error: \"no_options_map\"\n    }\n  }];\n}\n\nconst option = optionsMap[number];\n\nif (!option) {\n  return [{\n    json: {\n      chatId,\n      type: \"invalid\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    chatId,\n    type: option.type,\n    productId: option.productId,\n    name: option.name,\n    price: option.price\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        2176
      ],
      "id": "b9e0c174-9b48-4ea2-8b5d-347a47f54926",
      "name": "Resolve Product Menu Option"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions \nSET state = 'checkout'\nWHERE chat_id = $1;\n",
        "options": {
          "queryReplacement": "={{ $('Compose Context').item.json.user.chatId + ''  }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        1824
      ],
      "id": "fbc4c7f8-7077-4911-ad54-64153a96039c",
      "name": "Update State checkout",
      "credentials": {
        "postgres": {
          "id": "WvUoNCudNHCmuNGD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Compose Context').item.json.chatId }}",
        "text": "📍 Qual é o endereço para entrega?",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -64,
        1824
      ],
      "id": "bcbd5124-a4ed-4c0a-9782-d49e99240132",
      "name": "Endereço de Entrega",
      "webhookId": "20052272-9007-4b65-b3ad-971687d2d3da",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e4043ff1-fdd4-4a2d-9fc6-5017f85a5110",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "invalid",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invalid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "26542482-bb37-4dc9-9f16-c132c3d4ac97",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "back_to_order_menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "back"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "select_product",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "68acc263-1b7f-480d-a943-038dad379539"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "select_product"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -736,
        2160
      ],
      "id": "0633f245-587b-4e58-b84e-650d41e87d46",
      "name": "Product Menu Switch"
    },
    {
      "parameters": {
        "url": "=http://backend:3000/users/telegram/{{ $('Compose Context').item.json.user.chatId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        992
      ],
      "id": "f6e293bc-a3f5-4520-bf30-e7fd3d67eca3",
      "name": "Get User"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3000/orders",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{$json.id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        992
      ],
      "id": "da6a408d-c1ef-4f80-9e73-42a78eb37ea5",
      "name": "POST Order"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions\nSET data = jsonb_set(\n  COALESCE(data, '{}'::jsonb),\n  '{orderId}',\n  to_jsonb($2::int)\n)\nWHERE chat_id = $1;",
        "options": {
          "queryReplacement": "={{ $('Compose Context').item.json.user.chatId + '' }}, {{$json.id}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        1152
      ],
      "id": "bcc257e2-1f78-4b0a-b45d-0da4f25de768",
      "name": "Save ChatId",
      "credentials": {
        "postgres": {
          "id": "WvUoNCudNHCmuNGD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Compose Context').item.json.chatId }}",
        "text": "Por favor, digite um dos números disponíveis no menu.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -288,
        1296
      ],
      "id": "476f7eb7-c867-4626-8f87-782f26010a9a",
      "name": "invalid",
      "webhookId": "6542bcaf-a5c5-4fc6-97f1-bb77ce31c224",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Compose Context').item.json.chatId }}",
        "text": "🔙 Você voltou ao seu pedido.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -288,
        2176
      ],
      "id": "73385399-db97-4e80-9899-1e0b90e032e5",
      "name": "back",
      "webhookId": "a0ce8934-b5b8-4a05-bfe1-2e9aac712e37",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Compose Context').item.json.user.chatId }}",
        "text": "=✅ {{ $('Product Menu Switch').item.json.name }} foi adicionado ao seu pedido!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -288,
        2368
      ],
      "id": "704f2b21-45a3-45c5-be07-8ee3d12f984a",
      "name": "Adicionado",
      "webhookId": "ae2f245c-acba-4201-af1b-1fd3ad25a075",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:3000/orders/{{ $('Compose Context').item.json.user.data.orderId }}/items",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "productId",
              "value": "={{ $json.productId }}"
            },
            {
              "name": "quantity",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -512,
        2368
      ],
      "id": "e31e2e5e-c211-4e60-bbfb-f885127b7f15",
      "name": "POST Item"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://backend:3000/orders/{{ $('Compose Context').item.json.user.data.orderId }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $('Compose Context').item.json.input.text }}"
            },
            {
              "name": "status",
              "value": "pedido_recebido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -960,
        2560
      ],
      "id": "3c18a259-b8da-4985-930c-0f274600d45c",
      "name": "PATCH Order"
    },
    {
      "parameters": {
        "chatId": "={{ $('Compose Context').item.json.user.chatId }}",
        "text": "🎉 Pedido realizado com sucesso!\n\nEm breve ele será preparado e enviado para você.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -736,
        2560
      ],
      "id": "00c67e34-57f7-47d3-9df2-285c36e1bf27",
      "name": "Sucess",
      "webhookId": "a81f153d-41f8-4f24-909c-1333b7563437",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://backend:3000/orders/{{ $('Compose Context').item.json.user.data.orderId }}/summary",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -512,
        2560
      ],
      "id": "09ec827a-d800-4082-b1de-15fdd5eb9524",
      "name": "GET Order Summary"
    },
    {
      "parameters": {
        "jsCode": "const order = items[0].json;\n\nlet message = `🧾 Resumo do seu pedido #${order.order_number}\\n\\n`;\n\nfor (const item of order.items) {\n  message += `• ${item.quantity}x ${item.name} - R$ ${item.total_price.toFixed(2)}\\n`;\n}\n\nmessage += `\\n💰 Total: R$ ${order.total_price.toFixed(2)}`;\n\nif (order.payment) {\n  message += `\\n💳 Pagamento: ${order.payment}`;\n}\n\nif (order.address) {\n  message += `\\n📍 Entrega: ${order.address}`;\n}\n\nif (order.observation) {\n  message += `\\n📝 Obs: ${order.observation}`;\n}\n\nreturn [\n  {\n    json: {\n      message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        2560
      ],
      "id": "48faee12-4e59-4a2c-b27b-edd93d5cd2e4",
      "name": "Order Summary Message"
    },
    {
      "parameters": {
        "chatId": "={{ $('Compose Context').item.json.chatId }}",
        "text": "={{$json.message}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -64,
        2560
      ],
      "id": "bda0d5bc-4758-485e-8539-83fecf531a5b",
      "name": "Send Order Summary",
      "webhookId": "d9ef934e-8c52-456d-8b34-dc50ec906477",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-status",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2048,
        1296
      ],
      "id": "5ed2bdbc-80eb-40bb-9a23-e99964c8a7d6",
      "name": "Webhook",
      "webhookId": "9d28957f-eaed-4cdf-9f3e-c0b56c6f89df"
    },
    {
      "parameters": {
        "url": "=http://backend:3000/users/{{ $json.body.user_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1840,
        1296
      ],
      "id": "bac8260f-fc40-46e5-a2ef-bdbbc7be0e85",
      "name": "GET User"
    },
    {
      "parameters": {
        "jsCode": "const orderId = $('Webhook').first().json.body.order_id;\nconst status = $('Webhook').first().json.body.status;\nconst user = $json;\n\nlet message = \"\";\n\nswitch (status) {\n  case \"pedido_recebido\":\n    message = `🧾 Pedido #${orderId} recebido com sucesso!\\nEstamos organizando tudo para você.`;\n    break;\n\n  case \"em_preparo\":\n    message = `👨‍🍳 Pedido #${orderId} está em preparo!\\nLogo logo sai quentinho 🍕`;\n    break;\n\n  case \"a_caminho\":\n    message = `🛵 Pedido #${orderId} saiu para entrega!\\nFique atento 😉`;\n    break;\n\n  case \"finalizado\":\n    message = `✅ Pedido #${orderId} foi finalizado!\\nObrigado por pedir com a gente 💚`;\n    break;\n\n  case \"cancelado\":\n    message = `❌ Pedido #${orderId} foi cancelado.\\nSe precisar, estamos aqui.`;\n    break;\n\n  default:\n    message = `📦 Pedido #${orderId} atualizado para: ${status}`;\n}\n\nreturn [\n  {\n    json: {\n      chat_id: user.telegram_chat_id,\n      text: message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1632,
        1296
      ],
      "id": "985dbbb5-ffa3-4d8b-b9b4-66cb1c5a0372",
      "name": "Status Message"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1424,
        1296
      ],
      "id": "efa00973-b199-4120-87aa-144b4771aa68",
      "name": "Send a text message",
      "webhookId": "0c876d10-4f5e-48f0-bc75-8cfa47196f4f",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions\nSET data = data - 'optionsMap' - 'orderId'\nWHERE chat_id = $1;",
        "options": {
          "queryReplacement": "={{ $('Compose Context').item.json.chatId  + ''}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        2560
      ],
      "id": "9c4f6e69-678c-42bc-a00a-06f4e78e050d",
      "name": "Erase data1",
      "credentials": {
        "postgres": {
          "id": "WvUoNCudNHCmuNGD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions \nSET state = 'main_menu'\nWHERE chat_id = $1;",
        "options": {
          "queryReplacement": "={{ $('Compose Context').item.json.user.chatId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        2560
      ],
      "id": "ea89fd91-845f-4658-a595-1ff0c1fdc1c8",
      "name": "Update State main_menu",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "WvUoNCudNHCmuNGD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions \nSET state = 'get_order'\nWHERE chat_id = $1;",
        "options": {
          "queryReplacement": "=={{ $json.chatId + '' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        464
      ],
      "id": "4f1bb577-c678-4c4f-8066-836820e1581b",
      "name": "Update State get_order",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "WvUoNCudNHCmuNGD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const order = items[0].json;\n\nfunction formatStatus(status) {\n  const map = {\n    carrinho: \"🛒 No carrinho\",\n    pedido_recebido: \"📩 Pedido recebido\",\n    em_preparo: \"👨‍🍳 Em preparo\",\n    a_caminho: \"🚚 A caminho\",\n    finalizado: \"✅ Finalizado\",\n    cancelado: \"❌ Cancelado\"\n  };\n\n  return map[status] || status;\n}\n\nlet message = `🧾 Resumo do seu pedido #${order.order_number}\\n`;\nmessage += `📌 Status: ${formatStatus(order.status)}\\n\\n`;\n\nfor (const item of order.items) {\n  message += `• ${item.quantity}x ${item.name} - R$ ${item.total_price.toFixed(2)}\\n`;\n}\n\nmessage += `\\n💰 Total: R$ ${order.total_price.toFixed(2)}`;\n\nif (order.payment) {\n  message += `\\n💳 Pagamento: ${order.payment}`;\n}\n\nif (order.address) {\n  message += `\\n📍 Entrega: ${order.address}`;\n}\n\nif (order.observation) {\n  message += `\\n📝 Obs: ${order.observation}`;\n}\n\nreturn [\n  {\n    json: {\n      message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "6c252e22-ada1-4ba1-8fe2-cb538ecc5fad",
      "name": "Order Summary Message1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Compose Context').item.json.chatId }}",
        "text": "={{$json.message}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "19288583-587a-4c9a-9674-7ea85be6ab18",
      "name": "Send Order Summary1",
      "webhookId": "d9ef934e-8c52-456d-8b34-dc50ec906477",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions \nSET state = 'main_menu'\nWHERE chat_id = $1;",
        "options": {
          "queryReplacement": "=={{ $json.chatId + '' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -400,
        96
      ],
      "id": "52d1e38c-34e4-49d3-aae7-a3e5b10ba854",
      "name": "Update State main_menu2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "WvUoNCudNHCmuNGD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://backend:3000/orders/{{ $('Compose Context').item.json.input.text }}/summary",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -192,
        96
      ],
      "id": "f1204469-0a3a-4ded-95cc-1619bedb5498",
      "name": "GET Order Summary1",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Compose Context').item.json.chatId }}",
        "text": "=❌ Não foi possível encontrar um pedido com esse número.\nVerifique e tente novamente.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        208
      ],
      "id": "df1edde9-961a-44df-812f-0d63aeb8703d",
      "name": "GET Order Error",
      "webhookId": "d9ef934e-8c52-456d-8b34-dc50ec906477",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions \nSET state = 'agent'\nWHERE chat_id = $1;",
        "options": {
          "queryReplacement": "=={{ $json.chatId + '' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        656
      ],
      "id": "2c052962-7878-4163-afdc-b8eb2d2322c8",
      "name": "Update State agent",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "WvUoNCudNHCmuNGD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_sessions \nSET state = 'main_menu'\nWHERE chat_id = $1;",
        "options": {
          "queryReplacement": "=={{ $json.chatId + '' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -416,
        -352
      ],
      "id": "0ea7df85-6008-4e7c-91f5-f293ddb8aed6",
      "name": "Update State main_menu3",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "WvUoNCudNHCmuNGD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Compose Context').item.json.chatId }}",
        "text": "=❌ Não foi possível se comunicar com o agente.\nTente novamente mais tarde.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -32,
        -224
      ],
      "id": "30de4343-d5e1-4d4c-803f-1a53c34aebd6",
      "name": "GET Agent Error",
      "webhookId": "d9ef934e-8c52-456d-8b34-dc50ec906477",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.user.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        -448
      ],
      "id": "ebd9181d-4757-4bcc-a89c-40e7055efbca",
      "name": "Send Agent Message",
      "webhookId": "d9ef934e-8c52-456d-8b34-dc50ec906477",
      "credentials": {
        "telegramApi": {
          "id": "6zIR8KcWfQWoutU2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:3000/bot",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Compose Context').item.json.input.text }}"
            },
            {
              "name": "telegramUserId",
              "value": "={{ $('Switch').item.json.user.chatId }}"
            },
            {
              "name": "establishmentSlug",
              "value": "ponto-do-brotinho"
            },
            {
              "name": "establishmentName",
              "value": "Ponto do Brotinho"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -224,
        -352
      ],
      "id": "0bfdd137-a27a-402b-b6ff-933009020828",
      "name": "Post Agent Response",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Render Products Menu": {
      "main": [
        [
          {
            "node": "Save Products Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Menu Switch": {
      "main": [
        [
          {
            "node": "Update State get_order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update State agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update State awaiting_order_menu_option",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro": {
      "main": [
        [
          {
            "node": "Update State awaiting_main_menu_option",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update State main_menu3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update State main_menu2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Main Menu Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update State awaiting_order_menu_option",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update State awaiting_main_menu_option",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolve Order Menu Option",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolve Product Menu Option",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PATCH Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Session": {
      "main": [
        [
          {
            "node": "Compose Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Context": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "Search Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Categories": {
      "main": [
        [
          {
            "node": "Render Order Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Order Menu": {
      "main": [
        [
          {
            "node": "Save Options Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Options Map": {
      "main": [
        [
          {
            "node": "Order Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Order Menu Option": {
      "main": [
        [
          {
            "node": "Order Menu Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Menu Switch": {
      "main": [
        [
          {
            "node": "invalid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erase data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Products by Category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update State checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "menu": {
      "main": [
        [
          {
            "node": "Update State awaiting_main_menu_option",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Products by Category": {
      "main": [
        [
          {
            "node": "Render Products Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erase data": {
      "main": [
        [
          {
            "node": "menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Products Map": {
      "main": [
        [
          {
            "node": "Products Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State awaiting_order_menu_option": {
      "main": [
        [
          {
            "node": "Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State awaiting_main_menu_option": {
      "main": [
        [
          {
            "node": "main_menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Product Menu Option": {
      "main": [
        [
          {
            "node": "Product Menu Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State checkout": {
      "main": [
        [
          {
            "node": "Endereço de Entrega",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Menu Switch": {
      "main": [
        [
          {
            "node": "invalid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User": {
      "main": [
        [
          {
            "node": "POST Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Order": {
      "main": [
        [
          {
            "node": "Save ChatId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save ChatId": {
      "main": [
        [
          {
            "node": "Get Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invalid": {
      "main": [
        [
          {
            "node": "Update State awaiting_order_menu_option",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "back": {
      "main": [
        [
          {
            "node": "Update State awaiting_order_menu_option",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionado": {
      "main": [
        [
          {
            "node": "Update State awaiting_order_menu_option",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Item": {
      "main": [
        [
          {
            "node": "Adicionado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Order": {
      "main": [
        [
          {
            "node": "Sucess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sucess": {
      "main": [
        [
          {
            "node": "GET Order Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Order Summary": {
      "main": [
        [
          {
            "node": "Order Summary Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Summary Message": {
      "main": [
        [
          {
            "node": "Send Order Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Order Summary": {
      "main": [
        [
          {
            "node": "Erase data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "GET User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET User": {
      "main": [
        [
          {
            "node": "Status Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erase data1": {
      "main": [
        [
          {
            "node": "Update State main_menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State get_order": {
      "main": [
        [
          {
            "node": "acompanhar_pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Summary Message1": {
      "main": [
        [
          {
            "node": "Send Order Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State main_menu2": {
      "main": [
        [
          {
            "node": "GET Order Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Order Summary1": {
      "main": [
        [
          {
            "node": "Order Summary Message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET Order Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State agent": {
      "main": [
        [
          {
            "node": "falar_atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State main_menu3": {
      "main": [
        [
          {
            "node": "Post Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Agent Response": {
      "main": [
        [
          {
            "node": "Send Agent Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET Agent Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "026cce29-b539-4a68-b17c-309fcd4b1fdb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4bc813024f863c017197a8ba147550f535ee05c47009b96e13ded1493fb29d2"
  },
  "id": "9TLUl5keJjF8cser",
  "tags": []
}